a{

color: #11999E;
font-family: 'Montserrat', sans-serif;
margin: 10px 20px;
text-decoration: none;
}

a:hover{

  color: #EAF6F6;
}

body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

.contact-message{
  width: 40%;
  margin: 40px auto 60px;

}


.btn {
  font-family:'Montserrat', sans-serif;
  color: #14396A;
  font-size: 20px;
  text-shadow: 1px 1px 0 #7CACDE;
  box-shadow: 1px 1px 1px #BEE2F9;
  padding: 10px 25px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  border: 2px solid #3866A3;
  background: #63B8EE;
  background: linear-gradient(top,  #11CDD4,  #11999E);
  background: -ms-linear-gradient(top,  #11CDD4,  #11999E);
  background: -webkit-gradient(linear, left top, left bottom, from(#11CDD4), to(#11999E));
  background: -moz-linear-gradient(top,  #11CDD4,  #11999E);
  text-decoration: none;
}
.btn:hover {
  color: #14396A;
  background: #468CCF;
  background: linear-gradient(top,  #30E3CB,  #2BC4AD);
  background: -ms-linear-gradient(top,  #30E3CB,  #2BC4AD);
  background: -webkit-gradient(linear, left top, left bottom, from(#30E3CB), to(#2BC4AD));
  background: -moz-linear-gradient(top,  #30E3CB,  #2BC4AD);

}

.bottom-container {

  background-color: #66bfbf;
  padding: 50px 0 20px;
}
.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}


.copyright{

  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}
.graphic-image {
  width: 25%;
  float: right;
  margin-left: 30px;
}



.middle-container {
  margin: 100px 0;
}

p {
  line-height: 2;
}

h1 {
  color: #66bfbf;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
}

h2 {
  color: #66bfbf;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  color: #11999e;
  font-family: 'Montserrat', sans-serif;
}

.intro {
  width: 30%;
  margin: auto;
}

hr {
  border: dotted #EAF6F6 6PX;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

#top-container {
  background-color: #e4f9f5;
  position: relative;
  padding-top: 100px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

.web-image {
  width: 25%;
  border-radius: 100%;
  float: left;
  margin-right: 30px;
}

.pro {
  text-decoration: underline;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;

}
